# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/

# Logs
*.log
logs/
backup.log

# Environment variables
.env

# Backup files
backup_*/
*.zip
*.sql

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.bak
*.tmp

# Docker
.docker/

# Temporary files
tmp/
temp/
/tmp
.tmp/

# Service files
*.pid
*.socket 